<div class="index" style="width:500px; margin:0 auto">
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      style="width:100%; margin: 30px 0 "
    >
      Category
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">家居物業</a></li>
      <li><a class="dropdown-item" href="#">交通出行</a></li>
      <li><a class="dropdown-item" href="#">休閒娛樂</a></li>
      <li><a class="dropdown-item" href="#">餐飲食品</a></li>
      <li><a class="dropdown-item" href="#">其他</a></li>
    </ul>
  </div>
  <div class="display">
    <div class="displayTotal">
      <h5
        style="font-family: 'PT Sans Narrow', sans-serif;    font-size: 1.75rem;"
      >Total:</h5>
      <div
        class="totalAmount"
        style="display:flex; justify-content: flex-end; color: tomato; font-family: 'PT Sans Narrow', sans-serif;
      "
      >
        <h1 style="    font-size: calc(3rem + 1.5vw);">45454</h1>
      </div>

    </div>
    <div class="displayList">
      <ul class="list-group">
        <li
          class="list-group-item d-flex justify-content-between align-items-start"
        >
          <div class="ms-2 me-auto">
            <div class="fw-bold">Subheading</div>
            Content for list item
          </div>
          <span class="badge bg-primary rounded-pill">14</span>
        </li>
        <li
          class="list-group-item d-flex justify-content-between align-items-start"
        >
          <div class="ms-2 me-auto">
            <div class="fw-bold">Subheading</div>
            Content for list item
          </div>
          <span class="badge bg-primary rounded-pill">14</span>
        </li>
        <li
          class="list-group-item d-flex justify-content-between align-items-start"
        >
          <div class="ms-2 me-auto">
            <div class="fw-bold">Subheading</div>
            Content for list item
          </div>
          <span class="badge bg-primary rounded-pill">14</span>
        </li>
      </ul>
    </div>

  </div>
  <div
    class="create"
    style="    display: flex;
    justify-content: center;"
  ><button
      type="button"
      class="btn btn-outline-secondary"
      style="margin: 20px 0
      "
    >Create</button>
  </div>
</div>